@import "../style-base.css";

body {
  color: #3f3f3f;
  background: #ddd89e url(images/bg.png) 0 0 repeat-x;
}

a:link,
a:visited,
a:hover,
.title, .title a,
.node .taxonomy,
#aggregator .news-item .categories, #aggregator .source, #aggregator .age,
#forum td .name,
div.admin-panel .description {
	color: #463d1d !important;
}

#section1 {
	color: #202017;
	background: #c3bf5c url(images/topregion-bg.png) 0 0 repeat-x;
}

#section1 a,
#section1 a:link,
#section1 a:visited,
#section1 h2, #section1 h2 a {
	color: #202017 !important;
}

#middlecontainer {
	background: #fff url(../images/all/body-bg.png) 0 0 repeat-x;
}

#middlecontainer h1.title {
	color: #463d1d !important;
}

#middlecontainer h2.title  {
	color: #9e1c00 !important;
}

.node h2.title a {
	color: #9e1c00 !important;
}

#section2 {
	color: #d4d1c7;
	background: #652912 url(images/bottomregion-bg.png) 0 0 repeat-x;
}

#section2 a,
#section2 a:link,
#section2 a:visited,
#section2 h2, #section2 h2 a {
	color: #d4d1c7 !important;
}

#section1 td.section {
	background: transparent url(images/topline.png) 0 0 no-repeat;
}

#section2 td.section {
	background: transparent url(images/bottomline.png) 0 1px no-repeat;
}

#masthead {
	background: #3d3518 url(images/mast-bg.png) 0 0 repeat-x;
}

#header .header-right {
	background: transparent url(images/mast-r.png) 100% 0 no-repeat;
}

#header .header-left {
	background: transparent url(images/mast-l.png) 0 0 no-repeat;
	padding: 1px 0 14px 0;
}

#prenav {
	padding: 1px;
	background-color: #883c1a;
}

#postnav {
	border-top: 1px solid #c3bf5c;
}

#breadcrumb, #breadcrumb a {
	color: #202017 !important;
	background-color: #dddaa3;
}

#breadcrumb .breadcrumb {
	padding: 0;
}

#bar {
	background: transparent url(images/bar.png) 0 0 repeat-x;
	padding: 4px 0 3px;
}

#bar2 {
	background: transparent url(images/bar2.png) 0 0 repeat-x;
	padding: 1px;
}

#footer-wrapper {
	background: #3c3317 url(images/footer-bg.png) 0 0 repeat-x;
}

#footer-wrapper .footer-right {
	background: transparent url(images/footer-r.png) 100% 0 no-repeat;
}

#footer-wrapper .footer-left {
	height: 15px;
	overflow: hidden;
	background: transparent url(images/footer-l.png) 0 0 no-repeat;
}

#footer, #footer a {
	color: #d4d1c7 !important;
}

#shadow {
	background: transparent url(images/shadow-bg.png) 0 0 repeat-x;
	margin-top: 2px;
}
#shadow .shadow-right {
	background: transparent url(images/shadow-r.png) 100% 0 no-repeat;
}
#shadow .shadow-left {
	background: transparent url(images/shadow-l.png) 0 0 no-repeat;
	height: 52px;
}

/* Menu styles */

li.expanded {
  list-style-image: url(../images/all/menu-expanded.png);
}
li.collapsed {
  list-style-image: url(../images/all/menu-collapsed.png);
}

#navigation {
	background: #883c1a url(images/menu-bg.png) repeat-x;
}

#primary a, #suckerfishmenu a {
	color: #fff !important;
	background: transparent url(images/menu-div.png) 100% 0 repeat-y;
}

#primary a:hover, #suckerfishmenu a:hover {
	background: #574717;
}

#primary li a.active, #suckerfishmenu li a.active {
	color: #ddd89e !important;
}

#secondary a {
	color: #fff !important;
	background: #685b2e url(images/menu-div.png) 100% 0 repeat-y;
}

#secondary a:hover {
	background-color: #574717;
}

#secondary a.active {
	color: #ddd89e !important;
	background-color: #574717;
}

/* suckerfishmenu */

#suckerfishmenu ul.menu li li a:link, #suckerfishmenu ul.menu li li a:visited {
	color: #fff;
	background: #685b2e;
	border-left: 1px solid #84774d;
	border-top: 1px solid #84774d;
	border-right: 1px solid #574717;
	border-bottom: 1px solid #574717;
}
#suckerfishmenu ul.menu li ul a:hover {
	color: #fff;
	background: #574717;
}
#suckerfishmenu ul.menu li li.expanded a,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a {
	background: #685b2e url(images/arrow1.png) 100% 50% no-repeat;
}
#suckerfishmenu ul.menu li li.expanded a:hover,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded a:hover {
	background: #574717 url(images/arrow2.png) 100% 50% no-repeat;
}
#suckerfishmenu ul.menu li li.expanded ul.menu a,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded ul.menu a {
	background: #685b2e;
}
#suckerfishmenu ul.menu li li.expanded ul.menu a:hover,
#suckerfishmenu ul.menu li li.expanded ul.menu li.expanded ul.menu a:hover {
	background: #574717;
}

ul.links li {
	border-left: 1px solid #d3d3d3;
}

.book-navigation .page-links {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

#footer ul.links li {
	border-left: 1px solid #423a1b;
}


/* main style overiding */

#site-name a, #site-name a:hover {
	color: #b7ae37 !important;
}

#site-slogan {
	color: #cbcbcb;
}

#search .form-text, #search .form-submit {
	border: 1px solid #3d3518;
}

#mission {
	color: #333;
	border: solid 1px #d3d3d3;
}

.submitted, .links {
	color: #8e6126;
}

.comment {
	border: 1px solid #d3d3d3;
}

.image-thumbnail, .image-preview {
	border: 2px #ff9d88 solid;
}
